.float-button{
    position: fixed;
    bottom: 30px;
    right: 30px;

}

.content { 
    padding: 16px; 
    
  }
  
  .content > mat-card { 
    width: 200px; 
  }

  .head-url{
    color: tomato;
    cursor: pointer;
  }

  .passwords-container{
    max-width: 200px;
  }

  .mat-form-field{
    width: 100%;
  }
  
  .button-suffix {
    display: inline!important;
    
  }